In [1]:
import pandas as pd

In [8]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
submission = pd.read_csv('data/sample_submission.csv')

In [9]:
train = train.drop(['id'], axis=1)
test = test.drop(['id'], axis=1)

In [10]:
train.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,1,1,9238,1,1,126.0,1,1,19,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,17,1,9238,1,1,125.0,1,19,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,1,17,2,9254,1,1,137.0,1,3,19,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,1,1,3,9500,1,1,131.0,1,19,3,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,1,1,2,9500,1,1,132.0,1,19,37,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate

In [11]:
test.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,1,1,9500,1,1,141.0,1,3,1,...,0,0,8,0,0,0.000000,0,13.9,-0.3,0.79
1,1,1,1,9238,1,1,128.0,1,1,19,...,0,0,6,6,6,13.500000,0,11.1,0.6,2.02
2,1,1,1,9238,1,1,118.0,1,1,19,...,0,0,6,11,5,11.000000,0,15.5,2.8,-4.06
3,1,44,1,9147,1,39,130.0,1,1,19,...,0,3,8,14,5,11.000000,0,8.9,1.4,3.51
4,1,39,1,9670,1,1,110.0,1,1,37,...,0,0,6,9,4,10.666667,2,7.6,2.6,0.32

In [5]:
submission.head()

      id    Target
0  76518  Graduate
1  76519  Graduate
2  76520  Graduate
3  76521  Graduate
4  76522  Graduate

In [12]:
train.isna().sum().sort_values(ascending=False)

Marital status                                    0
Age at enrollment                                 0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
International                                     0
Scholarship holder                                0
Application mode                                  0
Gender                                            0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Target                                            0
dtype: int64

In [13]:
test.isna().sum().sort_values(ascending=False)

Marital status                                    0
Application mode                                  0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
Age at enrollment                                 0
Scholarship holder                                0
Gender                                            0
Mother's qualification                            0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Father's qualification                            0
Tuition fees up to date                           0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
GDP                                               0
dtype: int64

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76518 non-null  int64
 1   Application mode                                76518 non-null  int64
 2   Application order                               76518 non-null  int64
 3   Course                                          76518 non-null  int64
 4   Daytime/evening attendance                      76518 non-null  int64
 5   Previous qualification                          76518 non-null  int64
 6   Previous qualification (grade)                  76518 non-null  float64
 7   Nacionality                                     76518 non-null  int64
 8   Mother's qualification                          76518 non-null  int64
 9   Father's qualification                          76518 non-null  int64
 10  Mother's occupation                             76518 non-null  int64
 11  Father's occupation                             76518 non-null  int64
 12  Admission grade                                 76518 non-null  float64
 13  Displaced                                       76518 non-null  int64
 14  Educational special needs                       76518 non-null  int64
 15  Debtor                                          76518 non-null  int64
 16  Tuition fees up to date                         76518 non-null  int64
 17  Gender                                          76518 non-null  int64
 18  Scholarship holder                              76518 non-null  int64
 19  Age at enrollment                               76518 non-null  int64
 20  International                                   76518 non-null  int64
 21  Curricular units 1st sem (credited)             76518 non-null  int64
 22  Curricular units 1st sem (enrolled)             76518 non-null  int64
 23  Curricular units 1st sem (evaluations)          76518 non-null  int64
 24  Curricular units 1st sem (approved)             76518 non-null  int64
 25  Curricular units 1st sem (grade)                76518 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76518 non-null  int64
 27  Curricular units 2nd sem (credited)             76518 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76518 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76518 non-null  int64
 30  Curricular units 2nd sem (approved)             76518 non-null  int64
 31  Curricular units 2nd sem (grade)                76518 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76518 non-null  int64
 33  Unemployment rate                               76518 non-null  float64
 34  Inflation rate                                  76518 non-null  float64
 35  GDP                                             76518 non-null  float64
 36  Target                                          76518 non-null  object
dtypes: float64(7), int64(29), object(1)
memory usage: 21.6+ MB

In [16]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
Marital status,76518.0,1.111934,0.441669,1.00,1.000000,1.000000,1.000000,6.000
Application mode,76518.0,16.054419,16.682337,1.00,1.000000,17.000000,39.000000,53.000
Application order,76518.0,1.644410,1.229645,0.00,1.000000,1.000000,2.000000,9.000
Course,76518.0,9001.286377,1803.438531,33.00,9119.000000,9254.000000,9670.000000,9991.000
Daytime/evening attendance,76518.0,0.915314,0.278416,0.00,1.000000,1.000000,1.000000,1.000
Previous qualification,76518.0,3.658760,8.623774,1.00,1.000000,1.000000,1.000000,43.000
Previous qualification (grade),76518.0,132.378766,10.995328,95.00,125.000000,133.100000,140.000000,190.000
Nacionality,76518.0,1.226600,3.392183,1.00,1.000000,1.000000,1.000000,109.000
Mother's qualification,76518.0,19.837633,15.399456,1.00,1.000000,19.000000,37.000000,44.000
Father's qualification,76518.0,23.425076,14.921164,1.00,4.000000,19.000000,37.000000,44.000
Mother's occupation,76518.0,8.583196,17.471591,0.00,4.000000,7.000000,9.000000,194.000
Father's occupation,76518.0,8.882172,16.803940,0.00,5.000000,7.000000,9.000000,195.000
Admission grade,76518.0,125.363971,12.562328,95.00,118.000000,124.600000,132.000000,190.000
Displaced,76518.0,0.569265,0.495182,0.00,0.000000,1.000000,1.000000,1.000
Educational special needs,76518.0,0.003738,0.061023,0.00,0.000000,0.000000,0.000000,1.000
Debtor,76518.0,0.071382,0.257463,0.00,0.000000,0.000000,0.000000,1.000
Tuition fees up to date,76518.0,0.893646,0.308292,0.00,1.000000,1.000000,1.000000,1.000
Gender,76518.0,0.315821,0.464845,0.00,0.000000,0.000000,1.000000,1.000
Scholarship holder,76518.0,0.247393,0.431500,0.00,0.000000,0.000000,0.000000,1.000
Age at enrollment,76518.0,22.278653,6.889241,17.00,18.000000,19.000000,23.000000,70.000
International,76518.0,0.006626,0.081130,0.00,0.000000,0.000000,0.000000,1.000
Curricular units 1st sem (credited),76518.0,0.188871,1.175296,0.00,0.000000,0.000000,0.000000,20.000
Curricular units 1st sem (enrolled),76518.0,5.891516,1.671776,0.00,5.000000,6.000000,6.000000,26.000
Curricular units 1st sem (evaluations),76518.0,7.352362,3.508292,0.00,6.000000,7.000000,9.000000,45.000
Curricular units 1st sem (approved),76518.0,4.178520,2.687995,0.00,2.000000,5.000000,6.000000,26.000
Curricular units 1st sem (grade),76518.0,9.995862,5.264224,0.00,10.666667,12.166667,13.314286,18.875
Curricular units 1st sem (without evaluations),76518.0,0.057960,0.408490,0.00,0.000000,0.000000,0.000000,12.000
Curricular units 2nd sem (credited),76518.0,0.137053,0.933830,0.00,0.000000,0.000000,0.000000,19.000
Curricular units 2nd sem (enrolled),76518.0,5.933414,1.627182,0.00,5.000000,6.000000,6.000000,23.000
Curricular units 2nd sem (evaluations),76518.0,7.234468,3.503040,0.00,6.000000,7.000000,9.000000,33.000
Curricular units 2nd sem (approved),76518.0,4.007201,2.772956,0.00,1.000000,5.000000,6.000000,20.000
Curricular units 2nd sem (grade),76518.0,9.626085,5.546035,0.00,10.000000,12.142857,13.244048,18.000
Curricular units 2nd sem (without evaluations),76518.0,0.062443,0.462107,0.00,0.000000,0.000000,0.000000,12.000
Unemployment rate,76518.0,11.520340,2.653375,7.60,9.400000,11.100000,12.700000,16.200
Inflation rate,76518.0,1.228218,1.398816,-0.80,0.300000,1.400000,2.600000,3.700
GDP,76518.0,-0.080921,2.251382,-4.06,-1.700000,0.320000,1.790000,3.510